{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comments_tag %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="header-wrap">
        <div id="demo" class="site-config" style="position: absolute;background-image:url({% static 'images/p5.jpg' %})">
             <div class="title" style="margin:auto">
                <span id="typed" style="white-space:pre;">疲惫的生活总要有点温柔的梦想~</span><span class="typed-cursor"></span>
            </div>
        </div>
    </div>

    <div class="under-header-warp container blog-detail" style="margin-top: 40px">
        <div class="columns">
            <div class="site-left column is-7 is-offset-1" >
                <div class="blog-content-area">
                    <div class="blog-content-area-inner">
                        <h1 class="blog-title">{{ blog.title }}</h1>
                        <div class="blog-meta" style="margin-top: 10px;margin-bottom: 30px">
                            <span><i class="fa fa-check-square" aria-hidden="true" style="margin-right: 5px"></i>发表于&nbsp;{{blog.create_time|date:"Y-m-d H:i:s"}}</span>
                            <span><i class="fa fa-eye" aria-hidden="true"></i> 浏览&nbsp;{{ blog.get_read_num }}</span>
                            <span><a itemprop="discussionUrl" href=""><i class="fa fa-comments" aria-hidden="true"></i> 评论数&nbsp;{% get_comment_count blog %}</a></span>
                        </div>
                        <div class="blog-content" style="list-style-type: disc!important;">{{ blog.content|safe }}</div>

                        <footer class="post-footer">
                            {% if previous_blog %}
                                <div class="post-nav-prev post-nav-item"><i class="fa fa-angle-left"></i><a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></div>
                            {% else %}
                                <div class="post-nav-prev post-nav-item"><i class="fa fa-angle-left" aria-hidden="true"></i><a href="#">没有了</a></div>
                            {% endif %}
                            {% if next_blog %}   
                                <div class="post-nav-next post-nav-item"><a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                            {% else %}
                                <div class="post-nav-next post-nav-item"><a href="#">没有了</a><i class="fa fa-angle-right"></i></div>
                            {% endif %}
                        </footer>

                    </div>
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                            <label>{{ user.get_nickname_or_username }}，欢迎评论~</label>
                            <div id="reply_content_container" style="display:none;">
                                <p>回复：</p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}                            
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="button is-info is-focused" style="float: right;">
                        </form>
                    {% else %}
                        您尚未登录，登录之后方可评论~ 
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.path }}">登录</a>
                        <span> or </span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.path }}">注册</a>
                    {% endif %}
                </div>
                <h3 class="comment-area-title">评论列表</h3>
                <div id="comment_list" style="margin-top: 10px">
                    {% for comment in comments %}
                        <div id="root_{{ comment.pk }}" class="comment">
                            <div class="fathor">
                                <div class="comment-inner">
                                    <div class="fathor-author">
                                        <img src="{% static 'images/ll.jpg' %}" class="avatar" alt="">
                                        <span>{{ comment.user.get_nickname_or_username }}</span>
                                    </div>    
                                    <div class="father-content" id="comment_{{ comment.pk }}">
                                        {{ comment.text|safe }}
                                    </div>
                                    <div class="fathor-meta" style="min-height: 10px;">
                                         <span><i class="fa fa-bolt" aria-hidden="true" style="padding-right: 5px"></i>{{ comment.comment_time|date:"Y-m-d H:i:s" }}</span>
                                        <a href="javascript:reply({{ comment.pk }});">回复</a>
                                    </div>
                                </div>
                            </div>
                            
                            {% for reply in comment.root_comment.all %}
                                <div class="reply">
                                    <div class="comment-inner">
                                        <div class="reply-author">
                                            <img src="{% static 'images/dog.jpg' %}" class="avatar" alt="">
                                            <span>{{ reply.user.get_nickname_or_username }}</span>
                                            <span>回复</span>
                                            <span>{{ reply.reply_to.get_nickname_or_username }}：</span>
                                        </div>
                                        <div class="reply-content" id="comment_{{ reply.pk }}">
                                            {{ reply.text|safe }}
                                        </div>
                                        <div class="reply-meta" style="min-height: 10px;">
                                            <span><i class="fa fa-bomb" aria-hidden="true" style="margin-right: 5px"></i>{{ reply.comment_time|date:"Y-m-d H:i:s" }}</span>
                                            <a href="javascript:reply({{ reply.pk }});">回复</a>
                                        </div>
                                    </div>
                                </div>                                    
                            {% endfor %}
                        </div>
                    {% empty %}
                        <h3 id="no_comment">骚年沙发就是你的了~</h3>
                    {% endfor %}
                </div>                    
            </div>
            <div class="site-right column is-3" style="padding-top: 0">
                <aside id="sidebar" class="sidebar">
                    <div class="sidebar-inner">
                        <div class="sider-item">
                            <ul class="sidebar-nav" text-center="">
                                <li class="sidebar-nav-overview sidebar-nav-active">站点概览</li>
                            </ul>
                            <section class="site-overview-wrap sidebar-section-active" text-center="">            
                                <div class="site-author">
                                    <ul>
                                        <li><img src="{% static 'images/leim.jpg' %}" alt="author" style="height: 160px;width: 160px;text-align: center;border-radius: 5px">
                                    </li>
                                    </ul>
                                    
                                </div>
                                <div class="author-social">
                                    <ul class="author-social-links">
                                        <li><i class="fa fa-github" aria-hidden="true" style="padding-right: 5px"></i>Github
                                            <i class="fa fa-qq" aria-hidden="true" style="padding-left: 5px;padding-right: 5px"></i>QQ</li>
                                    </ul>
                                </div>
                                <div class="site-status leimuf">
                                    <ul>
                                        <li>
                                            <p href="">
                                                <span class="item-count-one">49</span>
                                                <span class="item-name-one">近日分享</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p href="">
                                                <span class="item-count-two">9</span>
                                                <span class="item-name-two">我的推荐</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <div class="sider-item ">
                            <section>
                                <ul class="sidebar-nav" text-center="">
                                    <li class="sidebar-nav-random sidebar-nav-active" >相关文章</li>
                                </ul>
                            </section>
                            
                            <section class=" sidebar-section-active">    
                                <ul class="rand-archive-list" style="display: block;">
                                    {% for blog in new_blogs %}
                                        <li style=""><a href="{% url 'blog_detail' blog.pk %}">{{blog.title}}</a></li>
                                    {% empty %}
                                    {% endfor %}
                                </ul>                
                            </section>
                        </div>                                
                    </div>
                </aside>
            </div>
        </div>
    </div>    
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
      window.onload=setTimeout(function(){
         window.scrollTo(0,500);  //修改知道500为指定内高度容
      },5);
    </script>
    <script type='text/javascript'>
            $(function(){
                $("#demo").css({"display":"block","top":-$(window).height()})
                $("#demo").animate({
                    top:"0px"
                },2000,"swing")
                                                  
            })
    </script>
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><div class="fathor"><div class="comment-inner"><div class="fathor-author"><img src="{% static 'images/ll.jpg' %}" class="avatar" alt=""><span>' + data['username'] + '</span></div><div class="father-content" id="comment_' + data['pk'] + '">' + data['text'] + '</div><div class="fathor-meta" style="min-height: 10px;"><span> ' + data['comment_time'] + '</span><a href="javascript:reply(' + data['pk'] + ');">回复</a></div></div></div></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{ 
                            // 插入回复
                            var reply_html ='<div class="reply"><div class="comment-inner"><div class="reply-author"><img src="{% static 'images/dog.jpg' %}" class="avatar" alt=""><span>' + data['username'] + '</span>&nbsp;<span>回复</span>&nbsp;<span>' + data['reply_to'] + '：</span></div><div class="reply-content" id="comment_' + data['pk'] + '">' + data['text'] + '</div><div class="reply-meta" style="min-height: 10px;"><span> ' + data['comment_time'] + '</span><a href="javascript:reply(' + data['pk'] + ');">回复</a></div></div></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }                    
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
        function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
    </script>
{% endblock %}