{% extends 'base.html' %}
{% load staticfiles %}

{# 页面标题 #}
{% block title %}奔跑的程序员{% endblock %}

{% block "nav_blog_active" %}active{% endblock %}

{% load staticfiles %}
{% load comments_tag %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <style>
        #background-canvas{
            top: 400px
        }
    </style>
{% endblock %}

{# 页面内容 #}
{% block content %}
    <!-- <div class="on-the-container"></div> -->
    <div class="header-wrap">
        <div class="site-config" style="background-image:url({% static 'images/live.jpg' %})">
             <div class="title" style="margin:auto">
                <span id="typed" style="white-space:pre;">桃花岛迷人？人间才迷人。</span><span class="typed-cursor"></span>
            </div>
        </div>
    </div>
    <div class="under-header-warp container">
        <div class="columns">
            <div class="column is-7 is-offset-1">
                {% for blog in page_of_blogs %}
                    <section id="posts">
                        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
                            <div class="post-badge">
                                <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                                    <a href="">随便说些什么</a></span>
                            </div>
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline"><a class="post-title-link" href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h1>
                                <div class="post-meta">
                                    <span><i class="iconfont icon-time"></i>  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{blog.create_time|date:"Y-m-d"}}</span>
                                    <span><i class="iconfont icon-eye"></i> 浏览&nbsp;{{ blog.get_read_num }}</span>
                                    <span itemprop="interactionCount"><a itemprop="discussionUrl" href="https://www.ohyhello.com/archives/1781.html#comments"><i class="iconfont icon-Comments"></i> 评论数&nbsp;{% get_comment_count blog %}</a></span>
                                </div>
                            </header>
                            <img src="" alt="">
                                <div class="post-content" itemprop="articleBody">
                                    <p>{{ blog.content|striptags|truncatechars:150}}</p>
                                        <div text-center="" class="post-button">
                                            <a href="{% url 'blog_detail' blog.id %}">-   阅读全文   -  </a>
                                        </div>
                                </div>
                        </article>
                    </section>
                {% empty %}
                    <h3>--暂无博客--</h3>
                {% endfor %}
                <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination" style="margin-bottom: 30px">
                    {% if page_of_blogs.has_previous %}
                        <a class="pagination-previous" href="?page={{ page_of_blogs.previous_page_number }}">前一页</a>
                    {% else %}
                        <a class="pagination-previous">没有啦</a>
                    {% endif %}

                    {# 遍历出全部页码 #}
                    <ul class="pagination-list"> 
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li><a class="pagination-link is-current" aria-current="page">{{ page_num }}</a></li> 
                            {% else %} 
                                {%  if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a class="pagination-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %} 
                    </ul>
                    {# 下一页 #}
                    {% if page_of_blogs.has_next %}
                        <a class="pagination-next" href="?page={{ page_of_blogs.next_page_number }}" >
                         下一页</a>
                    {% else %}
                        <a class="pagination-next">没有拉</a>
                    {% endif %}
                </nav>
                <div style="margin-bottom: 20px">
                    <p style="text-align: center;">
                        共有{{page_of_blogs.paginator.count}}篇博客;当前第{{ page_of_blogs.number }}页，
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
                
            </div>
            <div class="column is-3">
                <div id="kratos-widget-area">
                    <div id="sidebar" class="affix">
                        <div id="kratos_about" class="widget widget_kratos_about clearfix">        
                            <div class="photo-background" style="border-radius:8px;background:url({% static 'images/p2.jpg' %})"></div>    
                            <div class="photo-wrapper clearfix">
                                <a href="" rel="nofollow"><img class="about-photo" src="{% static 'images/p0.jpg' %}" alt=""></a>    
                            </div>
                            <div class="textwidget">
                                <p class="text-center"><span style="font-size: 10pt;">关于站点 <a href="">[关于]</a></span></p>
                            </div>
                        </div>

                        <div id="kratos_comments" class="widget widget_kratos_comments clearfix">
                            <h4 class="widget-title">最近评论</h4>
                            <div class="recentcomments">
                                {% for comment in hot_comments %}
                                <li class="comment-listitem">
                                    <div class="comment-user">
                                        <span class="comment-avatar">
                                            <img alt="" src="{% static 'images/p10.jpg' %}" class="avatar avatar-50 photo" height="50" width="50">
                                        </span>
                                    <div class="comment-author" title="chz">chz</div>
                                        <span class="comment-date">20 小时前 (03月26日)</span>
                                    </div>
                                    <div class="comment-content-link">
                                        <a href="">
                                            <div class="comment-content">
                                                {{ comment.id }}{{ comment.text|striptags|safe }}
                                            </div>
                                        </a>    
                                    </div>
                                </li>
                                {% empty %}
                                    暂无评论QAQ
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
            
{% endblock %}