{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
    <div class="containter">
        <div class="columns">
            <div class="column is-4 is-offset-4 is-mobile" style="margin-top: 130px">
                <article class="message is-info">
                    <div class="message-header">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <div class="message-body" style="padding-top: 0;padding-right: 20px;padding-left: 20px">
                        <div class="notification is-info is-light" style="padding-bottom: 60px;background-color: ">
                            <h3 class="">{{ form_title }}</h3>
                            <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if not field.is_hidden %}
                                        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% endif %}
                                    {{ field }}
                                    <p class="">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span id="tip" class="">{{ form.non_field_errors }}</span>
                                <div class="">
                                    <div class="" style="display: inline-block;margin-top: 10px">
                                        <button id="send_code" class="button is-link">发送验证码</button>
                                    </div>
                                    <div class="field is-grouped" style="float: right;margin-top: 10px">
                                      <p class="control">
                                        <input type="submit" value="{{ submit_text }}" class="button is-primary">
                                      </p>
                                      <p class="control">
                                        <button class="button is-info is-light" onclick="window.location.href='{{ return_back_url }}'">
                                          返回
                                        </button>
                                      </p>
                                    </div>
                                </div>
                            </form>
                        </div>    
                    </div>
                </article>
                        
            </div>
        </div>
    </div>
    {% else %}
        <span>已登录，跳转到首页...</span>
        <script type="text/javascript">
            window.location.href = '/';
        </script>
    {% endif %}
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'forgot_password_code'
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){
                        alert(data['status']);    
                    }                    
                }
            });

            // 一旦发送成功，设置按钮为不可点击，避免用户成功发送后短时间内连续重复发送操作
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}