{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登陆|Tomdayu{% endblock %}
{% block header_extends %}
     <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .box {
            width: 300px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 46%;
            transform: translate(-50%, -50%);
            background: black;
            text-align: center;
        }
        .box h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }
        .box input[type='text'],
        .box input[type='password'] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            margin-bottom: 0;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }
        .box input[type='text']:focus,
        .box input[type='password']:focus {
            width: 240px;
            border-color: #2ecc71;
        }
        .submit {
            border: 0;
            background: none;
            margin-top: 10px!important;
            margin: 20px auto;
            margin-top: 0;
            display: inline-block;
            text-align: center;
            border: 2px solid #3498db;
            padding: 10px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            text-decoration: none;
            font-size: 12px;
        }
        .submit:hover {
            background: #2ecc71;
            border-color: #2ecc71;
        }
        .header-wrap {
            min-height: 860px;
            width: 100%;
            height: 100%;
            padding: 0;
            -webkit-box-shadow: initial;
            box-shadow: initial;
            border-radius: initial
        }

        .site-config {
            min-height: 1400px;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            -webkit-animation: fade-in-bottom 1s .3s backwards;
            animation: fade-in-bottom 1s .3s backwards;
            background-attachment: fixed
        }
        ul{
            color: rgb(255,0,0);
            margin-bottom: 10px 
        }
        a.forgot:hover {
            color: #b56a32
        }
        .danger-error {
        }
    </style>
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
            <div class="header-wrap">
                <div class="site-config" style="background-image:url({% static 'images/p12.jpg' %})">
                </div>
            </div>
            <div class="box">
                <h1>Login</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in login_form %}
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span class="danger-error">{{ login_form.non_field_errors }}</span>
                    <div class="clearfix"></div>
                    <input type="submit" value="登录" class="submit">
                    <a href="{% url 'forgot_password' %}" style="display: block;" class="forgot">忘记密码？</a>
                </form>
            </div>
        {% else %}    
            <span>已登录，跳转到首页...</span>
            <script type="text/javascript">
                window.location.href = '/';
            </script>
        {% endif %}
{% endblock %}
        
