/*å…¨å±€*/
body{ font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; }
.list-none{ padding:0px; margin:0px; list-style:none; }
.met-head{ height:100px; overflow:hidden;}
.met-head .logo li{ float:left; height:100px; line-height:100px; font-size:22px; }
.met-head .logo li img{ max-width:100%; }
.met-head .logo ul>li+li:before{padding:0 10px;color:#ddd; font-size:22px; content:"|\00a0"}
.met-footer{ text-align:center; padding:30px; color:#777; }
.met-footer p{ margin-bottom:5px; }

.met-member{ background-color:#efefef; background-size:cover; background-repeat:no-repeat; background-position:center center; padding:50px 0px; }
.met-member form{ max-width:400px; margin:0px 10px; background-color:rgba(255,255,255,.7); padding:30px;  }
.met-member input.form-control,.met-member textarea.form-control{ border-radius:0px; height:43px;  }
.met-member .input-group .input-group-addon{ border-radius:0px; background:#efefef; }
.met-member .input-group  i.fa{ font-size:18px; color:#aaa; width:20px; text-align:center; }
.met-member select.form-control{ border-radius:0px; }
.met-member textarea.form-control{ height:auto;  }
.met-member .login_link{ text-align:right; margin-bottom:15px; }
.met-member .login_code_img img{ height:43px; cursor:pointer; }
.met-member .form-control-feedback{ height:43px; line-height:43px; padding-right: 20px;}
.met-member .btn{ border-radius:0px; }

.met-form-choice{ background:#fff; padding:10px;}

.met-form-file-title{ padding-top:8px; padding-bottom:8px; }
.met-form .met-upfile .file-drop-zone{ border:0px; margin:0px; }
.met-form .met-upfile .file-preview{ border-radius:0px; max-width:220px; } /*display:none;*/
.met-form .met-upfile .kv-upload-progress{ max-width:220px; } /*display:none;*/
.met-form .met-upfile .kv-upload-progress .progress{ border-radius:0px; } /*display:none;*/
.met-form .met-upfile .file-preview .file-actions{ display:none; }
.met-form .met-upfile .file-preview-frame{ box-shadow:none; display:block; margin:0px; border:0; padding:0px; float:none; height:auto; }
.met-form .met-upfile .file-preview-frame img{ width:100%!important; height:auto!important;}
.met-form .met-upfile .file-preview-frame:hover{ box-shadow:none; }
.met-form .met-upfile .file-drop-zone-title{ font-size:30px; }
.met-form .met-upfile .fileinput-cancel-button{ width:76px;}
.met-form .met-upfile .progress{ margin-bottom:10px; }
.met-form .select-linkage .form-control{ padding-right:0px; }
.has-success .form-control{ border-color:#ccc; }
.has-success .input-group-addon{ border-color:#ccc; }

/*ç™»å½•ç•Œé¢*/
.login_index{ background-image:url(../img/2015020201454781.jpg); }
.login_index a.btn{ margin-top:20px; }
.login_index .login_type{ text-align:center; margin-top:20px; }
.login_index .login_type p{ color:#444; }
.login_index .login_type .row{ padding-top:5px; }
.login_index .login_type i{ font-size:35px; }
.login_index .login_type i.fa-qq{ color:#70A8D6; }
.login_index .login_type i.fa-weibo{ color:#E07366; }
.login_index .login_type i.fa-weixin{ color:#54C135; }
.login_index .form-control{ border:0; }

/*æ³¨å†Œé¡µé¢*/
.register_index form{ margin:0px auto; max-width:500px; background-color:#fff; }
.register_index .login_link{ margin-top:10px; margin-bottom:0px; }
.register_index .met-more{ position: relative; }
.register_index .met-more span{ position: absolute; text-align:center; height:30px; line-height:30px; left: 50%; margin-left:-50px; top: -15px; width: 100px; overflow:hidden; background-color: #fff; }
.register_index .login_code .form-control-feedback{ display:none!important; }

/*é‚®ç®±éªŒè¯*/
.valid-email-content{ margin:0px auto; max-width:800px; background-color:#fff; padding:100px 20px; color:#555; }
.valid-email .breadcrumb{ margin:0px auto; max-width:800px; border-radius:0px; text-align:center; }
.valid-email .send_email{ margin-right:20px; }
.valid-email .loading{ background:url(../img/loading.gif) no-repeat right center; }

/*çŸ­ä¿¡éªŒè¯*/
.phone_code{ margin:5px 0px; min-width:100%;  }
.phone_code .badge{ font-weight:normal; background:#777; color:#fff; }
.register_index .fa-mobile{ font-size:26px!important; }

/*ä¼šå‘˜ä¸­å¿ƒ*/
.met-head .user-info{ padding-top:35px; }
.met-head .user-info .breadcrumb{ background:none; }
.member-profile{ padding:10px 0px;} /*background-color:#EFEFEC; */
.member-profile-content{ margin:0px; padding:20px;  }
.member-profile-content .sidebar .list-group-item{ border:none; border-radius:0px; }
.met-member-index .form-group{ margin-bottom:0px; }
.met-member-index .row{ padding:15px 8px; border-bottom:1px solid #ddd; }
.met-member-index .basic .row:last-child{ border-bottom:none; }
.met-member-index .basic .panel-body{ margin:0px 15px; }
.met-member-index .met-form{ max-width:none; background:none; padding:0px; margin:0px; }
.met-member-index .panel{ border:none; border-radius:0px; box-shadow:none; }
.met-member-index .panel-default>.panel-heading{ border-radius:0px; font-size:16px; }

.member-profile-content .sidebar .list-group{ margin-bottom:0px; }
.member-profile-content .met-member-profile{ background:#fff; padding:15px; min-height:500px; }
.member-profile-content .sidebar-box{ background:#fff; padding:20px 15px; }

/*å¸å·å®‰å…¨*/
.met-member-safety{}
.met-member-safety .media{ padding:20px 0px; border-bottom:1px solid #ddd; position:relative;}
.met-member-safety .media button{ }
.met-member-safety .media i{ font-size:25px; width:50px; text-align:center; color:#337ab7;}
.met-member-safety .media i.fa-unlock-alt{ font-size:33px;  }
.met-member-safety .media i.fa-mobile{ font-size:48px;  }
.met-member-safety .media .media-body{ color:#999;  }
.met-member-safety .media .media-heading{ font-size:18px; color:#444;  }
.met-member-safety .modal .modal-body{ padding:15px 15px 0px;  }
.met-member-safety .modal form{ padding:0px 0px 0px; margin:0px; max-width:none;  }
.met-member-safety .media .loading{ background:#fff url(../img/loading.gif) no-repeat center center; color:#fff; }







*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2015
 * @package bootstrap-fileinput
 * @version 4.2.0
 *
 * File input styling for Bootstrap 3.0
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2015
 * For more Yii related demos visit http://demos.krajee.com
 */
.file-input {
    overflow-x: auto
}

.file-loading {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 999px;
    text-align: right;
    color: #fff;
    background: transparent url(../img/loading.gif) top left no-repeat;
    border: none
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block
}

.file-caption .glyphicon {
    display: inline-block;
    min-width: 18px;
    margin-top: 2px
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    max-height: 20px;
    padding-right: 10px;
    word-break: break-all
}

.file-caption-ellipsis {
    position: absolute;
    right: 10px;
    margin-top: -6px;
    font-size: 1.2em;
    display: none;
    font-weight: 700;
    cursor: default
}

.kv-has-ellipsis .file-caption-ellipsis {
    display: inline
}

.kv-has-ellipsis {
    padding-right: 17px
}

.kv-search-container .kv-search-clear {
    position: absolute;
    padding: 10px;
    right: 0
}

.file-error-message {
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    border-radius: 5px;
    padding: 5px
}

.file-error-message pre,.file-error-message ul {
    margin: 5px 0;
    text-align: left
}

.file-caption-disabled {
    background-color: #EEE;
    cursor: not-allowed;
    opacity: 1
}

.file-input .btn .disabled,.file-input .btn[disabled] {
    cursor: not-allowed
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px
}

.file-preview-frame {
    display: table;
    margin: 8px;
    height: 160px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle
}

.file-preview-frame:hover {
    box-shadow: 3px 3px 5px 0 #333
}

.file-preview-image {
    height: 160px;
    vertical-align: text-center
}

.file-preview-text {
    width: 160px;
    color: #428bca;
    font-size: 11px;
    text-align: center
}

.file-preview-other {
    padding-top: 48px;
    text-align: center
}

.file-preview-other i {
    font-size: 2.4em
}

.file-other-error {
    width: 100%;
    padding-top: 30px;
    text-align: right
}

.file-input-ajax-new .fileinput-remove-button,.file-input-ajax-new .fileinput-upload-button,.file-input-new .close,.file-input-new .file-preview,.file-input-new .fileinput-remove-button,.file-input-new .fileinput-upload-button,.file-input-new .glyphicon-file {
    display: none
}

.loading {
    background: transparent url(../img/loading.gif) no-repeat scroll center center content-box!important
}

.wrap-indicator {
    font-weight: 700;
    color: #245269;
    cursor: pointer
}

.file-actions {
    text-align: left
}

.file-footer-buttons {
    float: right
}

.file-thumbnail-footer .file-caption-name {
    padding-top: 4px;
    font-size: 11px;
    color: #777
}

.file-upload-indicator {
    padding-top: 2px;
    cursor: default
}

.file-upload-indicator:hover {
    font-size: 1.2em;
    font-weight: 700;
    padding-top: 0
}

.file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px
}

.file-drop-zone-title {
    color: #aaa;
    font-size: 40px;
    padding: 85px 10px
}

.highlighted {
    border: 2px dashed #999!important;
    background-color: #f0f0f0
}

.file-uploading {
    background-image: url(../img/loading-sm.gif);
    background-position: center bottom 10px;
    background-repeat: no-repeat;
    opacity: .6
}

.file-icon-large {
    font-size: 1.2em
}

#show-info {
    margin-bottom: -120px
}
.user-info li {
    cursor:pointer;
}