{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
    <link rel="stylesheet" href="/static/prism/prism.css">
    <script src="/static/prism/prism.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <script type="text/javascript" src='{% static "jquery-3.4.1.min.js"  %}'>
    </script>
    <script src='{% static "bootstrap-3.3.7/js/bootstrap.min.js"  %}'></script>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    {% block header_extends %}{% endblock %}
    <style>
      /*消除默认bulma样式*/
      .navbar-item img {max-height: 50px!important} 
    </style>
</head>
<body>
     <!--导航-->
    <nav id="head" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
        <div class="navbar-brand" style="padding-left: 20px">
        <a  class="navbar-item brand" href="{% url 'home' %}">
          <span class="icon">
            <i class="fa fa-home"></i>
          </span>Tomdayuの小站
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start menu">
            <li class="active">
              <a class="home" href="{% url 'home' %} "><i class="fa fa-bed" aria-hidden="true" style="padding-right: 5px"></i>Home</a>
            </li>
            
            <div class="navbar-item has-dropdown is-hoverable">
              <li><a class="" href="#">
                <i class="fa fa-magnet" aria-hidden="true" style="padding-right: 5px"></i>N次猿
              </a></li>

              <div class="navbar-dropdown">
                <li><a class="navbar-item" href="{% url 'home_to_coder_types' 1  %}">
                  Django
                </a></li>
                <li><a class="navbar-item" href="{% url 'home_to_coder_types' 2  %}">
                  Python
                </a></li>
                <li><a class="navbar-item" href="{% url 'home_to_coder_types' 3  %}">
                  C++
                </a></li>
                <li><a class="navbar-item" href="{% url 'home_to_coder_types' 4  %}">
                  Datastructure
                </a></li>
                <li><a class="navbar-item" href="{% url 'home_to_coder_types' 5  %}">
                  Javascript
                </a></li>
                
              </div>
            </div>

            <li>
              <a href="{% url 'poetic_and_prose' %}"><i class="fa fa-moon-o" aria-hidden="true" style="padding-right: 5px"></i>诗文</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-cogs" aria-hidden="true" style="padding-right: 5px"></i>工具</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-pencil" aria-hidden="true" style="padding-right: 5px"></i>留言</a>
            </li>

            <form class="search-box" id="myform" action="{% url 'search' %}?from={{ request.get_full_path }}"> 
                {% csrf_token %}
                <input class="search-txt" name="wd" type="text" placeholder="输入关键词搜索..." />
                <a class="search-btn" href="#" onclick="tosubmit('{% url 'search' %}')">
                    <i class="fa fa-search"></i>
                </a>
            </form>
          </div>
          
          <div class="navbar-end">
            <div class="navbar-item">
              {% if not user.is_authenticated %}
                <div class="buttons">
                  <a class="button is-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">
                    <strong>Log in</strong>
                  </a>
                  <a class="button is-light" href="{% url 'register' %}?from={{ request.get_full_path }}">
                    Sign up
                  </a>
                </div>
              {% else %}
              <div class="dropdown" style="margin-right: 42px">
                  <div class="dropdown-tigger">
                    <button class="info-button button" style="display: inline-flex;">
                    {% if user.get_avatar %}
                      <img src="/media/{{ user.get_avatar }}" style="width:30px;height: 30px;border-radius: 15%" alt="">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    {% else %}
                      <span class="icon is-small">{{user.get_nickname_or_username}}
                      <i class="fa fa-angle-down" aria-hidden="true" style="padding-left:40px"></i>
                    </span>
                    {% endif %}
                    </button>
                  </div>
                  <div class="dropdown-menu user-data">
                    <div class="dropdown-content">
                        <a class="navbar-item"  href="{% url 'user_info' %}?from={{ request.get_full_path }}"><i class="fa fa-grav" aria-hidden="true" style="margin-right: 5px"></i>个人信息</a>
                        {% if user.is_staff and user.is_superuser %}
                        <a class="navbar-item" href="{% url 'admin:index' %}"><i class="fa fa-user-secret" aria-hidden="true" style="margin-right: 6px"></i>后台管理</a>
                        {% endif %}
                        <hr class="navbar-divider" >
                        <a class="navbar-item" href="{% url 'logout' %}?from={{ request.get_full_path }}"><i class="fa fa-times" aria-hidden="true" style="margin-right: 5px"></i>退出登录</a>
                    </div>
                  </div>
              </div>
                 
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    {# --canvas-- #}
    <canvas id="background-canvas" ></canvas>
    <script type="text/javascript" src='{% static "javascript/background.js" %}'></script>

    <div id="fool-container" style="min-height: 670px">{% block content %}{% endblock %}</div>

    {% block script_extends %}
    <script type='text/javascript'>
        $(function(){
            $("#demo").css({"display":"block","top":-$(window).height()})
            $("#demo").animate({
                top:"0px"
            },2000,"swing")
                                              
        })
    </script>
    {% endblock %}

    <div id="footer" class="bottom" style="background:#fff ">
        <div class="copyright"> <!-- 版权信息 -->
            <div class="container">
                  <p class="kratos-social-icons"></p>
                  <p style="text-align: center;"> ©2020 <a href="">Tomdayu's Blog</a>. All Rights Reserved. | 已在风雨中度过 <span id="span"></span><br>
                    鄂ICP备20005282号-1|Welcome to My<a href="https://github.com/jwl-tiger/mysite"> Github</a> Modified by <a href="https://github.com/jwl-tiger/mysite">Imusic</a>
                  </p>
            </div>
         </div>
          <div class="tools"> <!-- 底部工具 --></div>
    </div>
    <script>
         document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }
        });
          //expend dropdown
          var dropdown = document.querySelector('.dropdown');
            dropdown.addEventListener('click',function(event) {
              event.stopPropagation();
              dropdown.classList.toggle('is-active');
            });
                 // Dropdowns
    </script>
    <script type="text/javascript">
        function runtime(){
            // 初始时间，日/月/年 时:分:秒
            X = new Date("4/10/2020 8:32:00");
            Y = new Date();
            T = (Y.getTime()-X.getTime());
            M = 24*60*60*1000;
            a = T/M;
            A = Math.floor(a);
            b = (a-A)*24;
            B = Math.floor(b);
            c = (b-B)*60;
            C = Math.floor((b-B)*60);
            D = Math.floor((c-C)*60);
            //信息写入到DIV中
            span.innerHTML = A+"天"+B+"小时"+C+"分"+D+"秒"
        }
        setInterval(runtime, 1000);
    </script>
    <script type="text/javascript">
        function tosubmit(action_str){
            var myform=document.getElementById("myform");
                if(action_str==null){
                      myform.submit();
                }else{
                    myform.action= action_str;
                    myform.submit();
            } 
            return false;
        }
    </script>
    <script type="text/javascript">
      $('pre').addClass("line-numbers").css("white-space", "pre-wrap");
    </script>
  </body>
</html>