{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
<div class="header-wrap">
    <div  id="demo" class="site-config" style="position: absolute; background-image:url('../static/images/p3.jpg')">
         <div class="title">
            <span id="typed" style="white-space:pre;">I'm very vegetable and very poor.</span><span class="typed-cursor"></span>
        </div>
    </div>
</div>
<script>
    var screenWidth=$(window).width();
    $("#body").css("width",screenWidth);
</script>

<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter" style="margin-bottom: 40px">
        <div class="Highcharts container">
            <!-- 图表容器 DOM -->
            <div id="container"></div>
            <!-- 今天24小时之内的热门博客 -->
            <script>
                // 图表配置
                var options = {
                    chart: { type: 'line' },
                    title: { text: "" },
                    xAxis: {
                        categories: {{ dates|safe }},  // x 轴分类
                        tickmarkPlacement: 'on',
                        title: { text: '前七日阅读量变化' }
                    },
                    yAxis: {
                        title: { text: null},
                        labels: {enabled: false},
                        gridLineDashStyle: 'Dash',
                    },
                    series: [{                              // 数据列
                        name: '阅读量',                        // 数据列名
                        data: {{ read_nums }}
                    }],
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: { enabled: false },
                    credits: { enabled: false },
                };
                // 图表初始化函数
                var chart = Highcharts.chart('container', options);
            </script>
        </div>
    </div>
</div>         
        

   
{% endblock %}